@import 'Modal';
@import 'Tasks';
@import 'TaskModal';
@import 'Projects';
@import 'colors';

* {
  //border: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html, body, #root, .app {
  height: auto;
  background: #ffffff;
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  margin: auto;

}

.main-page {

  display: flex;
  justify-content: center;
  margin: auto;

}
